.highlight-grey:hover {
    border-radius: 22px;
    background-color: rgb(247, 247, 247);
    color: rgb(34, 34, 34);
}

.highlight-grey-tall:hover {
    border-radius: 32px;
    background-color: rgb(240, 240, 240);
}

.hover-underline:hover {
    text-decoration: underline;
}

.selected-button-highlight {
    position: absolute;
    border-top: solid 1px rgb(34, 34, 34);
    border-bottom: none;
    border-left: none;
    border-right: none;
    bottom: -8px;
    right: 0px;
}