.highlight-grey-247:hover {
    background-color: rgb(247, 247, 247);
}
.highlight-grey-240:hover {
    background-color: rgb(240, 240, 240);
}
.highlight-grey-235:hover {
    background-color: rgb(235, 235, 235);
}

.experience-link:hover {
    color: rgb(34, 34, 34);
}

.hover-underline:hover {
    text-decoration: underline;
}

.selected-button-highlight::after {
    position: absolute;
    height: 2px;
    width: calc(100% - 20px);
    bottom: -6px;
    left: 10px;
    background-color: rgb(34, 34, 34);
    content: "";
}

.scale-transition { 
    transition-property: transform, background-color, border-color;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
}

.scale-92:active {
    transform: scale(.92);
}

.active-black-border-000:active {
    border-color: rgb(0, 0, 0);
}

.active-black-border-000:hover {
    border-color: rgb(0, 0, 0);
}

.visibility-hidden {
    visibility: hidden;
}