@import 'variables.css';
.transparent-button {
    background-color: transparent;
    border: none;
    outline: none;
}

.heart-button {
    width: fit-content;
    position: absolute;
    top: 16px;
    right: 13px;
}

.heart-button svg {
    fill: rgba(0, 0, 0, 0.5);
}

.heart-button:active svg {
    fill: rgb(255, 56, 92);
}
