.experience-button {
    font-size: 16px;
    color: rgb(113, 113, 113);
    transition-property: box-shadow, transform;
    font-weight: 400;
    height: 44px;
}

.login-button {
    padding: 8px 8px 8px 14px;
    margin: 1px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: 1px solid rgb(211, 211, 211);
}

.filter-button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-top-left-radius: 12px;
    border-radius: 12px;
    padding: 12px 0px;
}

.transparent-button {
    background-color: transparent;
    border: none;
    outline: none;
}

.search-button {
    padding: 0px;
    background-color: rgb(255, 56, 92);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    margin-right: 8px;
}

.heart-button {
    width: fit-content;
    position: absolute;
    top: 16px;
    right: 13px;
}

.heart-button svg {
    fill: rgba(0, 0, 0, 0.5);
}

.heart-button:active svg {
    fill: rgb(255, 56, 92);
}

.search-more-button {
    padding: 14px 24px;
    border-radius: 8px;
    border-width: 0px;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}

.recommand-travel-list>button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
    margin: 6px 6px 6px 0px;
    font-size: 14px;
    font-weight: 600;
}

.recommand-travel-list>button:first-child {
    margin-left: -10px;
}
