@import 'variables.css';
/* grid */
.grid-container {
    display: grid;
}

/* grid-columns */
.grid-template-columns-full {
    grid-template-columns: 100%;
}
.grid-auto-columns-max-content {
    grid-auto-columns: max-content;
}
.grid-auto-flow-column {
    grid-auto-flow: column;
}

/* column-gap */
.column-gap-8 {
    column-gap: 8px;
}
.column-gap-16 {
    column-gap: 16px;
}
.column-gap-32 {
    column-gap: 32px;
}

/* row-gap */
.row-gap-8 {
    row-gap: 8px;
}

/* grid-column-start */
.grid-column-start-1 {
    grid-column-start: 1;
}

/* grid-column-end */
.grid-column-end-2 {
    grid-column-end: 2;
}

.search-by-region-grid-container {
    display: grid;
    grid-auto-rows: 0px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    row-gap: 6px;
    overflow: hidden;
}

.list-grid-container {
    padding-top: 12px;
    display: grid;
    column-gap: 24px;
    row-gap: 40px;
}

.list-explanation-grid-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) max-content;
    grid-template-rows: 19px 19px 19px 25px;
    grid-auto-flow: column;
    margin-top: 8px;
    column-gap: 8px;
    row-gap: 2px;
}
.list-explanation-grid-container>div {
    overflow-x: clip;
    overflow-y: clip;
    text-overflow: ellipsis;
    text-align: left;
}
.list-explanation-grid-container>div:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.list-explanation-grid-container>div:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
.list-explanation-grid-container>div:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.recommand-list-grid-container {
    display: grid;
    padding-top: 32px;
    column-gap: 8px;
    row-gap: 24px;
}

.footer-upper-grid-container {
    display: grid;
    column-gap: 8px;
}

.footer-upper-list-grid-container {
    display: grid;
    row-gap: 12px;
}

ul[class="recommand-list-grid-container"]>li>a {
    display: flex;
    flex-direction: column;
}

ul[class="recommand-list-grid-container"]>li>a>span:first-child {
    color: rgb(34, 34, 34);
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}

ul[class="recommand-list-grid-container"]>li>a>span:last-child {
    color: #717171;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.footer-upper-list-grid-container > li > a:hover {
    text-decoration: underline;
}

.date-tab-grid-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    max-width: 400px;
    min-width: 303px;
}