@import 'variables.css';
/* cursor */
.cursor-pointer {
    cursor: pointer;
}
.cursor-text {
    cursor: text;
}

/* pointer-events */
.pointer-none {
    pointer-events: none;
}
.pointer-auto {
    pointer-events: auto;
}

/* hover하면 배경 하이라이트 */
.hover-background-color-221:hover {
    background-color: rgb(221, 221, 221);
}
.hover-background-color-235:hover {
    background-color: rgb(235, 235, 235);
}
.hover-background-color-247:hover {
    background-color: rgb(247, 247, 247);
}

/* hover하면 폰트 색상 하이라이트 */
.hover-font-black-0:hover {
    color: rgb(0, 0, 0);
}
.hover-font-black-34:hover {
    color: rgb(34, 34, 34);
}


/* hover하면 밑줄 하이라이트 */
.hover-underline:hover {
    text-decoration: underline;
}

/* hover하면 경계선 하이라이트 */
.hover-black-border-000:hover {
    border-color: rgb(0, 0, 0);
}

/* hover하면 opacity 변경 */
.hover-opacity-10:hover {
    opacity: 1;
}

/* active하면 경계선 하이라이트 */
.active-black-border-000:active {
    border-color: rgb(0, 0, 0);
}

.child_background-color-0 div>div {
    background-color: rgb(0, 0, 0);
}

.child_opacity-10 div>div {
    opacity: 1;
}




