/* display */
.block {
    display: block;
}
.block-inline {
    display: inline-block;
}


/* height */
.height-30 {
    height: 30px;
}
.height-44 {
    height: 44px;
}
.height-64 {
    height: 64px;
}
.height-78 {
    height: 78px;
}
.height-80 {
    height: 80px;
}
.height-168 {
    height: 168px;
}
.height-full {
    height: 100%;
}

/* width */
.width-full {
    width: 100%;
}
.width-auto {
    width: auto;
}

/* padding */
.padding-0 {
    padding: 0px;
}
.padding-top-12 {
    padding-top: 12px;
}
.padding-11-32 {
    padding: 11px 32px;
}
.padding-14-32 {
    padding: 14px 32px;
}
.padding-48-0 {
    padding-top: 48px;
    padding-bottom: 48px;
}
.padding-12 {
    padding: 12px;
}
.padding-16 {
    padding: 16px;
}

/* margin */
.margin-top-12 {
    margin-top: 12px;
}
.margin-bottom-12 {
    margin-bottom: 12px;
}
.margin-8-0 {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* gap */
.column-gap-8 {
    column-gap: 8px;
}
.row-gap-8 {
    row-gap: 8px;
}

/* z-index */
.z-index-0 {
    z-index: 0
}
.z-index-1 {
    z-index: 1
}

/* position */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.sticky {
    position: sticky;
}
.absolute-00 {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* border */
.radius-12 {
    border-radius: 12px;
}
.radius-16 {
    border-radius: 16px;
}
.radius-20 {
    border-radius: 20px;
}
.radius-32 {
    border-radius: 32px;
}

.grey-border-211 {
    border: 1px solid rgb(211, 211, 211);
}

.grey-border-221 {
    border: 1px solid rgb(221, 221, 221);
}


.transparent-border {
    border: 1px solid rgba(0, 0, 0, 0);
}

.no-border {
    border: none;
}

.grey-border-bottom {
    border-bottom: 0.2px solid rgb(211, 211, 211);
}

.grey-dividing-line {
    height: 32px;
    border-right: 1px solid rgb(221, 221, 221);
    align-self: center;
}

.grey-line {
    border-top: 0.727273px solid rgb(221, 221, 221);
}

/* background 색 */
.background-color-basic {
    background-color: rgb(255, 255, 255);
}

.background-color-221 {
    background-color: rgb(221, 221, 221);
}

/* shadow */
.search-shadow {
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}



