@import 'variables.css';
.pa_hover-background-color-235:hover::after {
    background-color: rgb(235, 235, 235);
    content: "";
}

.pa_background-color-221:hover::after {
    background-color: rgb(221, 221, 221);
    content: '';
}