@import 'variables.css';
/* border */
.pb_hover-grey-border-right-255:hover::before {
    border-right: 1px solid rgb(255, 255, 255);
}
.pb_hover-grey-border-left-255:hover::before {
    border-left: 1px solid rgb(255, 255, 255);
}
.pb_hover-grey-border-right-235:hover::before {
    border-right: 1px solid rgb(235, 235, 235);
}
.pb_hover-grey-border-left-235:hover::before {
    border-left: 1px solid rgb(235, 235, 235);
}

/* radius */
.pb_hover-radius-right-32:hover::before {
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}

/* background */
.pb_hover-background-color-transparent:hover::before {
    background-color: rgba(0, 0, 0, 0);
}
.pb_hover-background-color-221:hover::before {
    background-color: rgb(221, 221, 221);
}
.pb_hover-background-color-247:hover::before {
    background-color: rgb(247, 247, 247);
}
.pb_hover-grey-gradient-img:hover::before {
    background-image: linear-gradient(90deg, rgb(221, 221, 221) 0px, rgb(221, 221, 221) 50%, rgb(235, 235, 235) 50%, rgb(235, 235, 235) 100%);
}
.pb_hover-grey-gradient-img-reverse:hover::before {
    background-image: linear-gradient(90deg, rgb(235, 235, 235) 0px, rgb(235, 235, 235) 50%, rgb(221, 221, 221) 50%, rgb(221, 221, 221) 100%);
}
/* width */
.pb_hover-width-100-29:hover::before {
    width: calc(100% + 29px);
}
.pb_hover-width-100-31:hover::before {
    width: calc(100% + 31px);
}
.pb-hover-width-80:hover::before {
    width: 80px;
}

/* height */
.pb_hover-height-32:hover::before {
    height: 32px;
}
.pb_hover-height-100--20:hover::before {
    height: calc(100% - 2px);
}

/* position */
.pb_hover-absolute:hover::before {
    position: absolute;
}

/* top */
.pb_hover-top-1:hover:before {
    top: 1px;
}
.pb_hover-top-33:hover::before {
    top: 33px;
}

/* left */
.pb_hover-left-0:hover::before {
    left: 0px;
}
.pb_hover-left--1:hover::before {
    left: -1px;
}
.pb_hover-left--30:hover::before {
    left: -30px;
}
.pb_hover-left-unset:hover::before {
    left: unset;
}

/* right */
.pb_hover-right-0:hover::before {
    right: 0px;
}
.pb_hover-right--1:hover::before {
    right: -1px;
}
.pb_hover-right--30:hover::before {
    right: -30px;
}
.pb_hover-right-30:hover::before {
    right: 30px;
}

/* margin */
.pb_hover-margin-top--16:hover::before {
    margin-top: -16px;
}

/* align-self */
.pb_hover-align-self-center:hover::before {
    align-self: center;
}
