@import 'variables.css';
/* text 수평 정렬 방식 */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}

/* text 수직 정렬 방식 */
.text-vertical-center {
    vertical-align: center;
}
.text-vertical-middle {
    vertical-align: middle;
}

/* font 사이즈 */
.font-10px {
    font-size: 10px;
}
.font-11_5px {
    font-size: 11.5px;
}
.font-12px {
    font-size: 12px;
}
.font-14px {
    font-size: 14px;
}
.font-15px {
    font-size: 15px;
}
.font-16px {
    font-size: 16px;
}
.font-18px {
    font-size: 18px;
}
.font-22px {
    font-size: 22px;
}

/* font 굵기 */
.font-400 {
    font-weight: 400;
}
.font-500 {
    font-weight: 500;
}
.font-600 {
    font-weight: 600;
}
.font-700 {
    font-weight: 700;
}

/* font 색상 */
.font-black-0 {
    color: rgb(0, 0, 0);
}
.font-black-34 {
    color: rgb(34, 34, 34);
}
.font-grey-106 {
    color: rgb(106, 106, 106);
}
.font-grey-113 {
    color: rgb(113, 113, 113);
}
.font-grey-235 {
    color: rgb(235, 235, 235);
}
.font-white-255 {
    color: rgb(255, 255, 255);
}

/* font 높이 */
.line-height-basic {
    line-height: 20.02px;
}
.line-height-18px {
    line-height: 18px;
}
.line-height-16px {
    line-height: 16px;
}

/* text-overflow */
.text-ellipsis {
    text-overflow: ellipsis;
}
.text-clip {
    text-overflow: clip;
}

.underline {
    text-decoration: underline;
}

.text-nowrap {
    text-wrap: nowrap;
}

