@import 'variables.css';
/* transition 속성 */
.transition-transform {
    transition-property: transform;
}
.transition-opacity {
    transition-property: opacity;
}
.transition-max-width {
    transition-property: max-width;
}
.transition-transform-background_color-border_color {
    transition-property: transform, background-color, border-color;
}

/* transition 지속시간 */
.duration-100ms {
    transition-duration: 0.1s;
}
.duration-125ms {
    transition-duration: 1.25s;
}
.duration-150ms {
    transition-duration: 0.15s;
}
.duration-200ms {
    transition-duration: 0.2s;
}

/* transition 지연시간 */
.delay-100ms {
    transition-delay: 0.1s;
}
.delay-0ms {
    transition-delay: 0s;
}

/* transition 타이밍 함수 */
.cubic-function {
    transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
}
.ease-function {
    transition-timing-function: ease;
}

.behavior-normal {
    transition-behavior: normal;
}