/* flex-container */
.flex-container {
    display: flex;
}
.inline-flex-container {
    display: inline-flex;
}

/* flex-direction: 모든 아이템의 방향 설정 */
.flex-row {
    flex-direction: row;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.flex-column {
    flex-direction: column;
}

/* justify-content: 모든 아이템에 대한 수평 배치 방법 설정 */

.justify-content-start {
    justify-content: start;
}
.justify-content-end {
    justify-content: end;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}

/* align-items: 모든 아이템에 대한 수직 배치 방법 설정 */
.align-items-start {
    align-items: flex-start;
}
.align-items-end {
    align-items: flex-end;
}
.align-items-center {
    align-items: center;
}
.align-items-baseline {
    align-items: baseline;
}
.align-items-stretch {
    align-items: stretch;
}

/* flex grow, flex shrink: 아이템의 크기를 조정 */

.flex-grow-1 {
    flex-grow: 1;
}
.flex-grow-0 {
    flex-grow: 0;
}
.flex-shrink-1 {
    flex-shrink: 1;
}
.flex-shrink-0 {
    flex-shrink: 0;
}



/*  */
.flex-explanation-container {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
}

